* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEE;
    flex-direction: column;
    min-height: 100vh;
}

body main {
    max-width: 700px;
    background-color: #FFF;
    padding: 2rem;
    border-radius: 1rem;
}

main > h1 {
    color: #123456;
}

main > p {
    font-size: 15px;
    line-height: 1.5;
}

main > span {
    font-weight: 600;
    font-size: 12px;
    border: 2px solid #DDD;
    background-color: #EEE;
    border-radius: .5rem;
    display: block;
    padding: 1rem;
}

body > span {
    color: #555;
    padding: 2rem;
}