@font-face {
    font-family: "Cairo";
    src: url(./Cairo-VariableFont_wght.ttf);
}

* {
    font-family: "Cairo", Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
body {
    /*font*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background: #123;
    background-size: cover;
}

text{
    font-size: 1rem;
    pointer-events:none;
}

button {
    cursor: pointer;
    padding: .4rem 2rem;
    background: #123;
    color: #FFF;
    border: 3px solid #FFF;
    font-size: 13px;
    border-radius: 1rem;
    font-weight: bold;
}

#chart{
    width:500px;
    height:500px;
}