@font-face {
    font-family: "Cairo";
    src: url(./Cairo-VariableFont_wght.ttf);
}

* {
    font-family: "Cairo", Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #123;
    color: #FFF;
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #FFF;
    margin-top: 1rem;
    padding: 1rem;
}

button {
    margin: 2rem 0;
    cursor: pointer;
    padding: .4rem 2rem;
    background: #123;
    color: #FFF;
    border: 2px solid #FFF;
    font-size: 13px;
    border-radius: 5rem;
    font-weight: bold;
}

#chart{
    width:500px;
    height:500px;
    position: relative;
    left: .5rem;
}

text{
    font-size: 1.3rem;
    font-weight: bold;
    pointer-events: none;
    stroke: none;
}

span#copy {
    display: block;
    background: #FFF;
    color: #123;
    padding: 0.5rem 5rem;
    border-radius: 5rem 5rem 0 0;
    font-weight: 800;
}

main label.plus {
    display: none;
    font-size: 1.2rem;
    padding: 2px 0.5rem;
    cursor: pointer;
}